<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/about.css">
    <link rel="stylesheet" href="/public/css/menu.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="shortcut icon" href="/public/favico/favico.ico" type="image/x-icon">
    <title>О нас</title>
</head>
<body>
    <%- include ('blocks/menu') -%>

    

    <%- include('blocks/footer') -%>
</body>
</html>