footer{
    max-width: 100vw;
    height: 60px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
a{
    color: white;
    text-decoration: none;
}