<div class="menu_wrapper_2">
    <ul>
        <a href="/"><li>Главная</li></a>
        <a href="/buy_pc"><li>Заказать</li></a>
        <a class="dostav" href="/"><li>Доставка</li></a>
    </ul>
    <span class="open_menu">

    </span>
</div>